


<include file="Common/header" />
           
        
        <div id="page-wrapper">
        <div class="graphs">	  
    <div class="content_bottom">
     <div class="col-md-12 span_3">
		  <div class="bs-example1" data-example-id="contextual-table">
		    <table class="table">
		      <thead>
		        <tr style="text-align: center;">
		           <h2>用户列表</h2>
		        </tr>
		        <tr>
		          <th>编号</th>
		          <th>邮箱</th>
		          <th>姓名</th>
				  <th>电话</th>
		          <th>注册时间</th>
		          <th>操作</th>
		        </tr>
		      </thead>
		      <tbody>	      
		      <?php 
		      		$i = 1;
		      	?>
		      <foreach name="user" item='v'>
		      
		      	<?php 
		      		if(($i%2)==1){
						echo "<tr class='active'>";
					}else{
						echo "<tr class='info'>";
					}
		      	?>
		        
		          <th scope="row">{$v.id}</th>
		          <td>{$v.email}</td>	
		          <th>{$v.name}</th>
				  <th>{$v.phone}</th>
		          <th>{$v.addtime}</th>	      
		          <td>
		          <a href="__ROOT__/index.php/Admin/Index/userdetail/id/{$v.id}">修 改</a> | 
             <a href="javascript:if(confirm('确认删除吗?'))window.location='__ROOT__/index.php/Admin/Index/userdelete/id/{$v.id}'">删  除</a>
				  |  <span style="color:#337ab7;"><?php if($v['ispay']==0){echo '未支付';}else{echo '已支付';} ?></span>
				  </td>
		        </tr>
		      	<?php $i++ ;?>
		       </foreach>		      
		      </tbody>
		    </table>
		   </div>
	   </div>
		<div class="clearfix"> </div>
	    </div>
		<div class="copy">
            <p>Copyright &copy; 2016  All rights reserved.</p>
	    </div>
		</div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__ROOT__/Public/admin/js/bootstrap.min.js"></script>
</body>
</html>
