body,ul,ol,li,p,h1,h2,h3,h4,img,div,form,fieldset,input,textarea,p{margin:0;padding:0;border:0;}
body{color:#333333;font:12px "SimSun"; margin:0px auto;background-color: #1b1b1b;}
ul,ol,li{list-style-type:none;}
.top{width: 100%;height:58px;background: #254698;text-align: center;margin-top: -19px;}
.top img{width: 100%;margin-top: 5px;}
.main {width:100%;height:373px;margin-bottom:20px;padding-left: 33px;background-color:#1b1b1b;margin-top: -10px;padding-top:8px;padding-bottom: 5px;}
.ci {width:100%;padding-left: 5px;margin: 0 auto; overflow: hidden;}
.Logo {text-align:center; width:100%;margin-bottom:10px;}
.Logo img{width: 100%;height: 220px}
.courses{ float:left;width:165px; height:147px; margin:0 10px 10px 0;}
.courses_right{ float:left;width:140px;margin:0 0 10px 3px;}
.courses_zc{ float:left; width:167px; margin:0 10px 10px 0;}
.courses_tc{ width:167px;}
.cent{height:151px;width:100%;margin: 0 auto;margin-left: 3px;}
#mycor{height:115px;width:100%;margin: 0 auto;margin-left: 3px;;}
.cor{ float:left;width:166px; margin:0 10px 10px 0;}
.online{float:left;width:167px;margin:0 0 10px 3px;}
.about{float:left;width:165px; margin:0 10px 0 0;}
.contact{float:left;width:168px;margin-left: 3px;}
.footer {text-align:center; width:100%; padding:20px 0;clear: both;margin-top:9px;background-color: #1B1B2D;color: #ffffff; }
.footer p{font-size: 15px ;font-weight: bold}