/* 通用 */

.register_title{font-size:1.6em; color:#1f3c79; font-size: 1.6em; height: 2.3em;line-height: 2.3em;padding-left: 0.6em;}

.register_title img {margin:0em 0.5em;}

.register_title span{color:#999999;font-size: 0.7em;margin-left: 1em;}

.btn{ font:1em bold 'Microsoft YaHei',Arial, Helvetica, sans-serif; width:100%; height:3em; line-height:3em; border-radius:0.3em; cursor:pointer; color:#fff; text-align:center; background:#ea5252; display:block; margin:2em 0; }

.btnGray{ font:1em bold 'Microsoft YaHei',Arial, Helvetica, sans-serif; width:100%; height:3em; line-height:3em; border-radius:0.3em; cursor:pointer; color:#333; text-align:center; background:#ccc; display:block; margin:1em 0; }

.errorTip{ color:#ea5252; line-height:3em; background:#fff6f6; border:1px solid #ea5252; padding:0 0.6em; }



/* 注册 */

#register{ height:100%; overflow:hidden; padding:0em 0.6em; }

#register div{ font-size:1.2em; height:3em; background:#fff; margin-bottom:0.6em; box-shadow:1px 1px 1px #e0e0e0;border:1px solid #B3B3B3; }

#register div span{ width:4em; line-height:2.8em; text-align:center; float:left; position:relative; }

#register div span img{ position:absolute; top:0.7em; left:0.8em; }

#register div input{ font:0.8em normal 'Microsoft YaHei',Arial, Helvetica, sans-serif; width:80%; height:100%; border:0; padding:0; margin-left:3em; }

#register div select{ font:0.8em normal 'Microsoft YaHei',Arial, Helvetica, sans-serif; width:80%; height:100%; border:0; padding:0; margin-left:3em; -moz-appearance:listitem;-webkit-appearance:listitem;background:#FFFFFF;}

#register a.btnLogin{ font:1em bold 'Microsoft YaHei', Arial, Helvetica, sans-serif; width:46.5%;float:left;margin-left: 2%; height:3em; line-height:3em; border-radius:0.3em; text-align:center; color:#fff; background:#233E7F; border:0; margin-bottom:0.8em; display:block; cursor: pointer; }

#register a.btnRegister{ font:1em bold '微软雅黑', Arial, Helvetica, sans-serif;float:right; width:46.5%;margin-right: 2%; height:3em; line-height:3em; border-radius:0.3em; text-align:center; color:#1F3C79; background:#CCCCCC; display:block; }



/* 基本信息、求职意向、教育经历 */

.registerStep{ height:100%; overflow:hidden; padding:1em 0.6em; }

.registerStep div{ font-size:1.2em; height:2.4em; line-height:2.4em; margin-bottom:0.5em; }

.registerStep div span{ width:5.5em; text-align:right; display:inline-block; }

.registerStep div input,.registerStep div select{ font:1em normal 'Microsoft YaHei',Arial, Helvetica, sans-serif; height:100%;  border:1px solid #ccc; margin:0; padding:0 0.5em; }

.registerStep div label,#hopeStep div label{ margin-right:0.8em; }

.registerStep div.txtArea{ height:100%; overflow:hidden; margin-bottom:0.5em; }

.registerStep div.txtArea textarea{ font:1em normal 'Microsoft YaHei',Arial, Helvetica, sans-serif; width:13em; height:5em; resize:none; border:1px solid #ccc; outline:none; padding:0.6em; }

.registerStep div.hopeItem span{ width:7.5em; text-align:right; display:block; float:left; }

.registerStep div.hopeItem span.hopeText{ width:62%; background:#fff; height:2.4em; line-height:2.4em; text-align:left; }

.registerStep div.hopeItem span.hopeText a{ display:block; padding:0 0.6em; background:url(../images/icon_arrow_right.png) no-repeat; background-position:right 0.5em; overflow:hidden; white-space:nowrap; word-break:keep-all; text-overflow:ellipsis; }

.registerStep div.hopeItem span.hopeText a em{ font-style:normal; }

.eduList{ height:100%; overflow:hidden; padding:1em 0.6em; border-bottom:1px solid #ccc; }

.eduList div{  font-size:1.2em; height:1.8em; line-height:1.8em; margin-bottom:0.5em; }

.eduList div span{ width:5em; text-align:right; display:inline-block; color:#999; }

.eduList div em{ font-style:normal; color:#333; margin-left:0.6em; }



/* 注册成功 */

.registerStep .successTip{ color:#399834; height:3em; line-height:3em; text-align:center; background:#f6fff4; border:1px solid #76ca72; margin:1.2em 0; }

.registerStep .successTip span{ margin:0 1em; }


/*完善资料*/
#register_edit{ height:100%; overflow:hidden; padding:0 0.6em 5em; }

#register_edit div{ font-size:1.2em; height:3em; background:#fff; margin-bottom:0.6em; box-shadow:1px 1px 1px #e0e0e0;border:1px solid #B3B3B3; }

#register_edit div span{ width:4em; line-height:2.8em; text-align:center; float:left; position:relative; }

#register_edit div span img{ position:absolute; top:0.7em; left:0.8em; }

#register_edit div input{ font:1em normal 'Microsoft YaHei',Arial, Helvetica, sans-serif; width:80%; height:100%; border:0; padding:0; margin-left:3em; }

#register_edit div select{font:1em bold '微软雅黑', Arial, Helvetica, sans-serif;width:80%; height:100%; border:0; padding:0;}

#register_edit a.btnLogin{ font:1em bold 'Microsoft YaHei', Arial, Helvetica, sans-serif; width:46.5%;float:left;margin-left: 2%; height:3em; line-height:3em; border-radius:0.3em; text-align:center; color:#fff; background:#233E7F; border:0; margin-bottom:0.8em; display:block; cursor: pointer; }

#register_edit a.btnRegister{ font:1em bold '微软雅黑', Arial, Helvetica, sans-serif;float:right;margin-right: 2%;width:46.5%; height:3em; line-height:3em; border-radius:0.3em; text-align:center; color:#1F3C79; background:#CCCCCC; display:block; }

#re_edit01{}
#re_edit01 font{float:left;height:3em; line-height: 3em;padding-left: 1em;}


/*参会选择*/

#member_hy{ height:100%; overflow:hidden; padding:0 0.6em 3em; }

#member_hy div{ padding:1em;font-size:1.2em; background:#fff; margin-bottom:0.6em; box-shadow:1px 1px 1px #e0e0e0;border:1px solid #B3B3B3; }

#member_hy div span{font:1.2em bold '微软雅黑', Arial, Helvetica, sans-serif;color:#233e7f;}

#member_hy div span em{margin-right: 0.8em;font-style: normal;}

#member_hy div p{padding-left:1em; font-size: 1em; line-height: 1.5em;}

#member_hy a.btnLogin{ font:1em bold 'Microsoft YaHei', Arial, Helvetica, sans-serif; width:46.5%;float:left;margin-left: 2%; height:3em; line-height:3em; border-radius:0.3em; text-align:center; color:#fff; background:#233E7F; border:0; margin-bottom:0.8em; display:block; cursor: pointer; }

#member_hy a.btnRegister{ font:1em bold '微软雅黑', Arial, Helvetica, sans-serif;float:right;margin-right: 2%; width:46.5%; height:3em; line-height:3em; border-radius:0.3em; text-align:center; color:#1F3C79; background:#CCCCCC; display:block; }


/*报名成功*/
#member_message{ height:100%; overflow:hidden; padding:1em 0.6em 3em; }

#member_message div{ padding:1em;font-size:1.2em; background:#FFFFFF;color:#b51f13; margin-bottom:0.6em; text-align: center; box-shadow:1px 1px 1px #e0e0e0;border:1px solid #B3B3B3; }

#member_message a.btnLogin{ font:1em bold 'Microsoft YaHei', Arial, Helvetica, sans-serif; width:46.5%;float:left;margin-left: 2%; height:3em; line-height:3em; border-radius:0.3em; text-align:center; color:#fff; background:#233E7F; border:0; margin-bottom:0.8em; display:block; cursor: pointer; }

#member_message a.btnRegister{ font:1em bold '微软雅黑', Arial, Helvetica, sans-serif;float:right;margin-right: 2%; width:46.5%; height:3em; line-height:3em; border-radius:0.3em; text-align:center; color:#1F3C79; background:#CCCCCC; display:block; }

.message_brief{color:#233e7f;padding:0em 2em 1em;}

.message_h3{color:#233e7f;padding:0em 2em 1em;font-size: 1.2em;}

.message_cont{padding:0em 2em 1em;}
.message_cont span{color:#233e7f;}



.isxuefen { width:100px; height:30px; text-align:center; margin-top:8px;  line-height:30px; background:#ededed; display:block; float:left;}
.red { background:#233E7F; color:#FFF;}
.isleft { margin-left:48px;}
